---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <link rel="stylesheet" href="/assets/css/style.css"/>  
  
</head>
<body class="animated fadeIn">
  <div class="container">
    <div id="background-div">
      <style> 
        body {
          height: 1920px;
          /* background-image: url("../assets/img/background.jpg"); */
          background-image: linear-gradient(#7ed6df, #22a6b3, #6ab04c);
          background-color: #cccccc;
        }
      </style>
    </div>
    <section class="header">
      {% include header.html %}
    </section>
  </div>
</body>

</html>